// Bookmark, Your Orders, Your tags, etc...

.account-pages {
  margin-left: 0;
  h1>span>span, h2>span>span {
    padding-left: 0;
  }

  ul.sibling {
    padding-left: 0;
    margin-top: 0;
    li {
      font-size: 16px;
      font-family: 'Open Sans', sans-serif;
      list-style-image: none;
      padding-left: 0;
      margin-bottom: .5em;
    }
  }

  ul.tag-result li {
    margin-left: 0 !important;
    padding-left: 0 !important;
    border-bottom: none;
    border-top: 1px solid black;
  }

  .breather {
    padding-left: 0;
  }

  .pagination li {
    background-color: $tna_black;
    color: #fff;
    border: 2px solid $tna_black;

    &:hover {
      background-color: #fff;
      color: #000;
    }

    &.next, &.previous {
      background-color: transparent;
      border: none;
    }

    &.current {
      background-color: #fff;
      color: #000;
      border: 2px solid $tna_black;
    }
  }

  .orderItem {
    border-top: 4px solid #000;
    margin: 0 !important;
    padding-left: 0 !important;
  }

  .orderStatus {
    background-color: #000 !important;
  }

  #searchResultsWrapper {
    margin-left: 0;
  }

}
