.basket, .checkout {

  h1 span span {
    padding-left: 0px;
    padding-top: 14px;
  }
  h2 {
    margin: 12px 0;
    span {
      background-image: none;
      padding-top: 14px;
      width: 100%;
      span {
        border-top: 2px solid black;
        color: #000;
        background-color: #fff;
      }
    }
  }

  .breather {
    padding-left: 0px;
  }

  .advanced-search-form input[type=reset],
  .advanced-search-form input[type=submit],
  .browse .sit-right, .call-to-action-link {
    background-color: $tna_black;
    border: 2px solid $tna_black;
    font-family: 'Roboto Mono', monospace;
    &:hover {
      background-color: #fff;
      color: #000;
      text-decoration: none;
    }

    &.secondary {
      background-color: #fff !important;
      border: 2px solid $tna_black;
      color: #000;

      &:hover {
        background-color: $tna_black !important;
        color: #fff;
        border-color: $tna_black;
        text-decoration: none;
      }
    }
  }

  .basket-item {
    border-bottom: 1px solid black;
  }

  .distinct {
    border: none;
  }

  .order-items.distinct {
    background: #eee;
  }

  #basketItemsWrapper {
    padding-left: 0;
  }

}
