.error-page {
  h1 {
    background-color: #fff !important;
    border-top: 2px solid #000;
    margin: 0;

    span {
      background-image: none;
      margin-left: 0;

      span {
        background-color: #fff;
        color: #000;
        padding-top: 14px;
        padding-bottom: 14px;
        padding-left: 0;
      }
    }
  }

  .breather {
    padding-left: 0;
  }
}
