.home {
  background-color: #ececec;

  h1 {
    span {
      font-family: 'Roboto Mono', monospace;
    }
  }

  h2 {
    border-top: none !important;

    span {
      span {
        padding-left: 0 !important;
        a {
          color: $rebrand_blue_default;
        }
      }
    }
  }


  ul.popular-search-terms {
    list-style-image: none;
    padding-left: 0;
    li {
      border-bottom: none;

      a {
        margin-left: 0;
      }
    }
  }

  .breather {
    padding-left: 0 !important;
  }

  .call-to-action-link {
    border: 2px solid black;
    background: #000;
    color: #fff;
    text-decoration: none;
    transition: none;
    -webkit-transition: none;
    font-size: 1em;
    line-height: 130%;
    margin: 0;
    padding: 0.5em;

    &:hover {
      background: #fff;
      color: #000;
      text-decoration: underline;
    }
  }

  .discover-ww1 {
    background-color: #fff;
    background-position: center 57px;
    div {
      h2 {
        background-color: #fff;
        border-top: 2px solid #000;
        margin: 0;

        span {
          background-image: none;
          margin-left: 0;

          span {
            background-color: #fff;
            padding-top: 14px;
            padding-bottom: 14px;
          }
        }
      }
    }

    .discover-ww1-wrapper {
      background-color: #fff;
      margin: 110px 0 -8px 0;
      padding-left: 0;
      p {
        font-family: 'Roboto Mono', monospace;
      }
    }
  }

  .find-an-archive {
    div {
      h2 {
        background-color: #fff;
        border-top: 2px solid #000;
        margin: 0;

        span {
          background-image: none;
          margin-left: 0;

          span {
            background-color: #fff;
            padding-top: 14px;
            padding-bottom: 14px;
          }
        }
      }
    }

    .archive-search-wrapper {
      background-color: #fff;

      a {
        color: $rebrand_blue_default;

        &:hover {
          color: $rebrand_blue_hover;
        }
      }


      .archive-search-positioner {
        #archive-search {
          border: 2px solid #000;
          font-family: 'Roboto Mono', monospace;
        }

        #submit {
          background-color: #000;
        }
      }

      form {
        background-color: #fff;

        fieldset {
          background-color: #fff;
          padding-left: 0;
        }
      }

      label {
        color: #000;
        font-family: 'Roboto Mono', monospace;
      }

      p {
        color: #000;
        font-family: 'Roboto Mono', monospace;
      }
    }
  }

  .inline {
    border-top: 2px solid black;
    padding-top: 0.6em;
  }

  .popular-collections {
    margin-left: 0;
    li {
      min-height: 115px;
      width: 48%;

      &:nth-last-child(2) {
        margin-bottom: 10px;
      }

      a {
        position: absolute;
        color: #fff;
        display: block;
        width: 100%;
        height: 100%;

        span {
          padding: 0px !important;
          span {
            display: block;
            position: absolute;
            bottom: 0;
            margin: 10px 10px 0 0;
            padding: 5px !important;
            background-color: #000;
            font-family: "Roboto Mono", monospace;
            font-size: 1em;
          }
        }
      }
    }
  }

  @media screen and (min-width: 380px) {
    .popular-collections li {
      background-position: center;
    }
  }


  .discover-ww1, .find-an-archive, .popular-tags {
    div {
      padding-top: 0;
      padding-left: 0;
      h2 {
        margin: 0;
        span {
          span {
            padding-left: 0;
          }
        }
      }
    }
  }

  @media only screen and (min-width: 1024px) {
    .ends-at-one-third {
      width: 28%;
    }
  }

  @media only screen and (min-width: 768px) {
    .ends-at-one-third {
      width: 28%;
    }
  }

  .holding-box {
    padding: 1em;
  }

  .primary-search-box {
    .search-form-container {
      #search-all-collections {
        border: 2px solid black;
      }
    }

    header > p {
      font-family: 'Roboto Mono', monospace;
    }

  }

  .research-guides {
    li {
      a {
        position: absolute;
        color: #fff;
        display: block;
        width: 100%;
        height: 100%;

        span {
          display: block;
          position: absolute;
          bottom: 0;
          margin: 10px 10px 0 0;
          padding: 5px;
          background-color: #000;
          font-family: "Roboto Mono", monospace;
          font-size: 1em;
        }
      }
    }
  }

  #page_wrap {
    section {
      .more-options {
        width: 98.7%;
        background: none;
        background-color: #dde5d5;
        color: #000;

        a {
          color: $rebrand_blue_default;

          &:hover {
            color: $rebrand_blue_hover;
          }
        }

      }
    }
  }
}
