.search-results {
  background-color: #ececec;

  a {
    color: $rebrand_blue_default;
  }

  ul#search-results {
    li {
      border-bottom: 4px solid #ddd;
    }
  }

  .emphasis-block {
    background: #fbe2bc;
    margin-left: 0;
    font-family: "Roboto Mono", monospace;
    border: none !important;
    padding: 1.6em;
  }

  .pagination, .number-of-results {
    li, span {
      font-family: inherit;

      a {
        display: block;
        color: #fff;
        background-color: #000;
        text-align: center;
        border: 2px solid #000;
        font-size: 20px;
        line-height: 44px;
        width: 48px;
        height: 48px;
        border-radius: 50%;

        &:hover {
          background-color: #fff;
          color: #000;
          text-decoration: underline !important;
        }
        }
      }

    .next, .previous {
      a {
        background-color: transparent;
        border: none;
        margin: 0 0.5em;
        color: $rebrand_blue_default;
        width: 90px;

        &:hover {
          color: $rebrand_blue_hover;
        }
      }
    }

    .current, .current-selection {
      color: #000;
      background-color: #fff;
      text-align: center;
      border: 2px solid #000;
      font-size: 1.25em;
      line-height: 44px;
      width: 48px;
      height: 48px;
      border-radius: 50%;
    }

    .next {
      background-color: transparent;
      border: none;
      margin: 0 0.5em;
    }
  }

  .results-form {
    background: #fff !important;

    h1 {
      color: #000;
    }
  }

  .result-links {
    a {
      color: $rebrand_blue_default;
    }
  }

  #generic-tabs {
    margin: 0;
    border-bottom: 2px solid black;
    overflow: hidden;

    .selected {
      background-color: #555;
      color: #fff;
    }
  }

  #holds-breadcrumb{
    a {
      color: $rebrand_blue_default;
    }
  }

  #search-results-search-query {
    border: 2px solid #000;
  }

  #submit {
    background-color: #000;
  }
}

.search-results {

  h1 {
    color: #000;
  }

  .results-form {
    background-color: #fff !important;
    color: #000 !important;

    input[type=submit] {
      background-color: #000;
    }

    fieldset a {

      &:hover {
        color: $rebrand_blue_hover;
      }
    }
  }

  #search-filters {
    border-top: 2px solid #000;

    input[value="Refine"] {
      font-family: "Roboto Mono", monospace;
      background-color: #000;
      color: #fff;
      border: 2px solid #000;
      padding: 0.5em 0.9em;
      display: inline-block;
      min-width: 24px;
      text-align: center;
      transition: none;
      -webkit-transition: none;

      &:hover {
        background-color: #fff;
        color: $tna_black;
        text-decoration: none;
      }
    }

    .filter-toggler {
      background-color: #555;
      background-image: url("../images/icon-chevron-down.png");
      color: #fff;

      &:hover {
        background-color: #000;
        text-decoration: none;
      }
    }
  }

  .expanded {
    background-image: url("../images/icon-chevron-up.png") !important;
  }

  .linkTitle {
    li {
      border-bottom: none !important;
    }
  }

  #search-results-search-query {
    border: 2px solid #000;
    width: 100%;
    height: 40px;
    padding-right: 40px;
  }
}
